 <br>      
 <div class="row">
    <div class="col-md-4">
      <%= f.input :localization %>
    </div>
    <div class="col-md-4">
      <%= f.input :price, input_html: { class: 'zipcode' } %>
    </div>
    <div class="col-md-4">
      <%= f.input :size_local %>
    </div>
    
  </div>
   <div class="row">
    <div class="col-md-1">
      <%= f.input :number_rooms %>
    </div>
    <div class="col-md-1">
      <%= f.input :number_bedrooms %>
    </div>
    <div class="col-md-1">
      <%= f.input :number_kitchens %>
    </div>
    <div class="col-md-1">
      <%= f.input :number_suites %>
    </div>
   </div>
   <div class="row">  
     <div class="col-md-2">
      <%= f.input :number_garden %>
     </div>
     <div class="col-md-2">
      <%= f.input :intercom %>
     </div>
     <div class="col-md-2">
      <%= f.input :porch %>
     </div>  
     <div class="col-md-2">
      <%= f.input :elevator %>
     </div>  
   </div>

  <div class="row">
    <div class="col-md-7">
      <%= f.input :image1_url %>
    </div>
        <div class="col-md-7">
      <%= f.input :image2_url %>
    </div>
    <div class="col-md-7">
      <%= f.input :image3_url %>
    </div>
    <div class="col-md-7">
      <%= f.input :image4_url %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <%= f.input :image5_url %>
    </div>
        <div class="col-md-7">
      <%= f.input :image6_url %>
    </div>
    <div class="col-md-7">
      <%= f.input :image7_url %>
    </div>
    <div class="col-md-7">
      <%= f.input :image8_url %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <%= f.input :image9_url %>
    </div>
        <div class="col-md-7">
      <%= f.input :image10_url %>
    </div>
  </div>

