
<h4>Listagem de postagens</h4>

<table class="table">
  <thead>
    <tr>
      <th width="1%"></th>
      <th width="20%"></th>
      <th width="40%">Título</th>
      <th>Descrição</th>
      <th>Tipo</th>
      <th colspan="3" width="1%"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><% if post.favorite %>
             <span class="fa-stack fa-1x text-warning">
               <i class="fa fa-star fa-stack-1x"></i>
            </span>
            <%end%>
        </td>
        <td>          
           <img class="img-fluid" src="<%= post.image_main_utl_google_drive%>" alt="">
        </td>
        <td><%= post.title %>
           <p><%= post.localization %></p>
          <p><%= post.description %></p>
          <h7>Caracteristicas</h7>
          <ul>
            <% unless post.number_bedrooms.nil? %>
              <li><%= post.number_bedrooms %> Quartos</li>
            <% end %>
            <% unless post.number_kitchens.nil? %>
              <li> <%= post.number_kitchens%> Banheiros</li>
            <% end %>
            <% unless post.number_rooms.nil? %>            
              <li> <%= post.number_rooms %> Salas</li>
            <% end %>
            <% unless post.number_suites.nil? %>            
              <li> <%= post.number_suites %> Suites</li>
            <% end %>
            <% if post.porch%>
              <li>Varanda</li>
            <% end %>
            <% if post.number_garden %>
              <li>Jardim</li>
            <% end %>
            <% if post.intercom %>
              <li>Interfone</li>
            <% end %>
            <% if post.elevator %>
              <li>Elevador</li>
            <% end %>
            <% unless post.price.blank? %>
              <li><%= number_to_currency(post.price, precision: 2) %></li>
            <% end %>
            <% unless post.size_local.blank? %>
              <li><%= post.size_local.to_i %> m²</li>
            <% end %>
          </ul>

        </td>
        <td><%= post.description %></td>
        <td><%= post.type_post_humanize %></td>
        <td><%= link_to 'Ver', post %></td>
        <td><%= link_to 'Editar', edit_post_path(post) %></td>
        <td><%= link_to 'Apagar', post, method: :delete, data: { confirm: 'Confirma exclusão?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Postagem', new_post_path, class: "btn btn-success"%>