<h5 class="my-4">Bem vindo a D&M Imóveis </h5>

      <!-- Portfolio Section -->
      <div class="row mb-4">
        <div class="col-md-1">
          <span class="fa-stack fa-3x text-danger">
            <i class="fa fa-heart fa-stack-1x"></i>
          </span>
        </div>
        <div class="col-md-4">
            </br></br>
            <h4 class="text-danger">Imóveis para compra</h4>
        </div>
      </div>


      <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a ><img class="card-img-top" src="<%if @post1.url.blank?%>http://placehold.it/700x450 <%else%> <%= @post1.try(:image_main_utl_google_drive)%> <%end %>" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <%= link_to "#{@post1}", @post1%>
              </h4>
              <p class="card-text"><%= @post1.try(:description) %></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a  ><img class="card-img-top" src="<%if @post2.url.blank?%>http://placehold.it/700x450 <%else%> <%= @post2.try(:image_main_utl_google_drive)%> <%end %>" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <%= link_to "#{@post2}", @post2%>
              </h4>
              <p class="card-text"><%= @post2.try(:description) %></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
             <a  ><img class="card-img-top" src="<%if @post3.url.blank?%>http://placehold.it/700x450 <%else%> <%= @post3.try(:image_main_utl_google_drive)%> <%end %>" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <%= link_to "#{@post3}", @post3%>
              </h4>
              <p class="card-text"><%= @post3.try(:description)%></p>
            </div>
          </div>
        </div>        
      </div>
      <!-- Call to Action Section -->
      <div class="row mb-4">
        <div class="col-md-8">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
        </div>
        <div class="col-md-4">
          <a class="btn btn-lg btn-danger btn-block" href="<%= posts_path %>">Mais imóveis</a>
        </div>
      </div>
      <hr>      

      <div class="row mb-4">
        <div class="col-md-1">
          <span class="fa-stack fa-3x text-danger">
            <i class="fa fa-home fa-stack-1x"></i>
          </span>
        </div>
        <div class="col-md-4">
            </br></br>
            <h4 class="text-danger">Imóveis para Locação</h4>
        </div>
      </div>
      
      <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a  ><img class="card-img-top" src="<%if @post4.url.blank?%>http://placehold.it/700x450 <%else%> <%= @post4.try(:image_main_utl_google_drive)%> <%end %>" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <%= link_to "#{@post4}", @post4%>
              </h4>
              <p class="card-text"><%= @post4.try(:description) %></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a  ><img class="card-img-top" src="<%if @post5.url.blank?%>http://placehold.it/700x450 <%else%> <%= @post5.try(:image_main_utl_google_drive)%> <%end %>" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <%= link_to "#{@post5}", @post5%>
              </h4>
              <p class="card-text"><%= @post5.try(:description) %></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
             <a  ><img class="card-img-top" src="<%if @post6.url.blank?%>http://placehold.it/700x450 <%else%> <%= @post6.try(:image_main_utl_google_drive)%> <%end %>" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <%= link_to "#{@post6}", @post6%>
              </h4>
              <p class="card-text"><%= @post6.try(:description)%></p>
            </div>
          </div>
        </div>        
      </div>
     
<!-- Call to Action Section -->
     <div class="row mb-4">
        <div class="col-md-8">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
        </div>
        <div class="col-md-4">
          <a class="btn btn-lg btn-danger btn-block" href="<%= posts_path %>">Mais imóveis</a>
        </div>
      </div>
      <hr>      
      <!-- /.row -->

      <!-- Features Section -->
      <div class="row">
        <div class="col-lg-6">
          <h2>D&M Imóveis</h2>
          <p>O melhor para encontrar imoveis em Nova Lima:</p>
          <ul>
            <li>
              <strong>Bootstrap v4</strong>
            </li>
            <li>jQuery</li>
            <li>Font Awesome</li>
            <li>Working contact form with validation</li>
            <li>Unstyled page elements for easy customization</li>
          </ul>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
        </div>
        <div class="col-lg-6">
          <img class="img-fluid rounded" src="https://docs.google.com/uc?export=view&id=1E_kpFrJa5wX81wBmTZM0xb33LMUO5sSi" alt="">
        </div>
      </div>
      <!-- /.row -->

      <hr>
      