<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>D&M imóveis</title>

    <!-- Bootstrap core CSS -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  
  </head>

  <body>
    <%= render "layouts/menu" %>

    <!-- Page Content -->
    <div class="container">
      <% if params[:controller] == "posts"%>
        <br>
        <%= yield %>
        <br><br>
      <% else %>  
        <%= render "layouts/main" %>
      <% end %>
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container text-center text-white" id="contact">
        <div class="row mb-4">
          
          <div class="col-md-3">
            <span class="fa-stack fa-3x">
              <i class="fa fa-facebook fa-inverse fa-stack-1x"></i>
            </span>
            <br>
          </div>
          <div class="col-md-3">
            <span class="fa-stack fa-3x">
              <i class="fa fa-instagram fa-inverse fa-stack-1x"></i>
            </span>
             <br>
          </div>
          <div class="col-md-3">
            <span class="fa-stack fa-3x">
              <i class="fa fa-envelope fa-inverse fa-stack-1x"></i>
            </span>
             <br>
             dmimoveis92@gmail.com
          </div>
          <div class="col-md-3">
            <span class="fa-stack fa-3x">
               <i class="fa fa-whatsapp fa-inverse fa-stack-1x"></i>
            </span>
             <br>
             (31)993140208
          </div>
        </div>
        <hr>
        <p class="m-0 text-center text-white">Rua Melo Viana, 210 - Centro</p>
        <p class="m-0 text-center text-white">Nova Lima - MG </p>
        <p class="m-0 text-center text-white">Tel: (31)3541-1254 </p>
         
      </div>
      <!-- /.container -->
    

    </footer>
    <%= render "layouts/login"%>


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
