<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>D&M imóveis</title>

    <!-- Bootstrap core CSS -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  
  </head>

  <body>
    <%= render "layouts/menu" %>

    <!-- Page Content -->
    <div class="container">
      <% if params[:controller] == "posts"%>
        <br>
        <%= yield %>
        <br><br>
      <% else %>  
        <%= render "layouts/main" %>
      <% end %>
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container" id="contact">
        <p class="m-0 text-center">
          <span class="fa-stack fa-3x">
            <i class="fa fa-facebook fa-inverse fa-stack-1x"></i>
          </span>
          <span class="fa-stack fa-3x">
            <i class="fa fa-instagram fa-inverse fa-stack-1x"></i>
          </span>
          <span class="fa-stack fa-3x">
            <i class="fa fa-envelope fa-inverse fa-stack-1x"></i>
          </span>

          <span class="fa-stack fa-3x">
            <i class="fa fa-whatsapp fa-inverse fa-stack-1x"></i>
          </span>
          </p>
          <p class="m-0 text-center text-white">Rua Melo Viana, 210 - Centro</p>
          <p class="m-0 text-center text-white">Nova Lima</p>          
      </div>
      <!-- /.container -->
    

    </footer>



    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
